
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 20px; /* Space between grid items */
    padding: 1rem; /* Padding around the container */
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background: rgba(0, 0, 0, 0.8); /* Background for the container */
    border-radius: 0; /* No border radius to fill the screen */
    box-shadow: none; /* Remove shadow for full-screen effect */
    color: #00aaff; /* Text color */
    font-family: 'Courier New', Courier, monospace; /* Font style */
}

.user-card {
    max-width: 400px;
    padding: 1.5rem;
    margin: 1rem;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 255, 0.3);
    border-radius: 8px;
    color: #00aaff; /* Change text color to blue */
    text-shadow: 0 0 8px rgba(0, 170, 255, 0.5);
    box-shadow: 0 0 20px rgba(0, 170, 255, 0.3), 0 0 40px rgba(0, 170, 255, 0.5);
    font-family: 'Courier New', Courier, monospace;
    transition: transform 0.2s ease-in-out;
}

.user-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #00aaff, 0 0 20px rgba(0, 170, 255, 0.7);
}

.user-card h2 {
    font-size: 1.5rem;
    color: #00aaff; /* Change heading color to blue */
    text-shadow: 0 0 10px #00aaff, 0 0 20px rgba(0, 170, 255, 0.7);
    margin-bottom: 1rem;
}

.user-card p {
    margin: 1.5rem 0;
    color: rgba(0, 170, 255, 0.9); /* Change paragraph color to a lighter blue */
}

@media (max-width: 600px) {
    .user-card {
        max-width: 90%;
        margin: 1rem auto;
        padding: 1rem;
    }

    .user-card h2 {
        font-size: 1.25rem;
    }

    .user-card p {
        font-size: 0.9rem;
        margin: 20px;
    }
}

/* AuditRatioChart.css */
h3 {
    text-align: center;
    margin: 10px;
  }
  
  svg {
    border: 1px solid #ccc; /* Optional: add a border around the chart */
  }